{% extends 'base.html.twig' %}

{% block title %}Modifier l'article{% endblock %}

{% block body %}
    <h1>Modifier l'article</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-primary">{{ 'Enregistrer'|trans }}</button>
    {{ form_end(form) }}

    <a href="{{ path('article_index') }}" class="btn btn-secondary">Retour à la liste</a>
{% endblock %}
